@model Project_63130514.Models.MonAn

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa món ăn này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên món ăn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonAn)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Ảnh món ăn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhMonAn)
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Loại món ăn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiMonAn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
