@model Project_63130514.Models.MonAn

@{
    ViewBag.Title = "THÔNG TIN CHI TIẾT";
}
<caption><b>THÔNG TIN CHI TIẾT</b></caption>
<table cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
    <tr>
        <td>
            <table cellpadding="2" cellspacing="10">
                <tr>
                    <td rowspan="8"><img src="/Images/@Html.DisplayFor(model => model.AnhMonAn)" width="100" height="100" /></td>
                    <td>Mã món ăn:</td>
                    <td>@Html.DisplayFor(model => model.MaMonAn)</td>
                </tr>
                <tr>
                    <td>Tên món ăn:</td>
                    <td>@Html.DisplayFor(model => model.TenMonAn)</td>
                </tr>
                <tr>
                    <td>Giá:</td>
                    <td>@Html.DisplayFor(model => model.Gia)</td>
                </tr>
                <tr>
                    <td>Mô tả:</td>
                    <td>@Html.DisplayFor(model => model.MoTa)</td>
                </tr>
                <tr>
                    <td>Loại món ăn:</td>
                    <td>@Html.DisplayFor(model => model.LoaiMonAn)</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaMonAn }) |
    @Html.ActionLink("Trở về", "Index")
</p>
