@model Project_63130514.Models.KhachHang

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="heading">
    <h3>Thông tin cá nhân</h3>
    <p><a href="~/Home_63130514_63130514/Index">Trang chủ </a> <span> / Hồ sơ</span></p>
</div>
<section class="user-details">
    <div class="user">
        <img src="~/Images/user-icon.png" alt="">
        <p><i class="fas fa-user"></i> <span>@Model.TenKhachHang</span></p>
        <p><i class="fas fa-phone"></i> <span>@Model.SoDienThoai</span></p>
        <p><i class="fas fa-envelope"></i> <span>@Model.Email</span></p>
        <p class="address"><i class="fas fa-map-marker-alt"></i> <span>@Model.DiaChi</span></p>
        <a href="@Url.Action("Edit", "KhachHangs_63130514", new {id = Model.MaKhachHang})" class="btn">Cập nhật thông tin</a>
    </div>
</section>

